
h1{
   background-color: darkred;
   font-size: 40px;
   color: gold;
}
p {
    color: blue;
    font-weight:bold;
}

h4{ 
    color: red;
    font-size: 12px;

}
input{
    color: palevioletred;
    font-weight: bold;
}